body {
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg");

}

.content {
  text-align: center;
  background-color: #222222;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 1%;
  color: aliceblue;
}

.content h1 {
  text-decoration: underline;
}

.content p {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.content table {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}