html {
  scroll-behavior: smooth;
}

.navbar .nav-link {
  font-size: 16px;
  margin-left: 10px;
  color: #000;

}

.navbar {
  z-index: 1000;
  width: 100%;
  transition: all ease 0.3s;
  right: 0 !important;



}

.hide {
  transform: translateY(-81px);
}



.fa-bars {
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: var(--bs-gutter-x, 0rem) !important;
    padding-left: var(--bs-gutter-x, 0rem) !important;
  }

  .fa-bars {
    color: white !important;
    font-size: 30px;
  }

  .navbar {
    background-color: black !important;
  }

  .nav-link {

    color: white !important;
  }
}




.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

@media only screen and (max-width: 600px) {
  .navbar-nav a:hover {
    background-color: transparent !important;
  }
}

/* FOR ACTIVE TAB */
.nav-link {
  padding: 2rem 2rem !important;
}

.nav-item:hover {
  background-color: lightblue;
  border-bottom: 1rem black;
}



.nav-item {
  display: inline-block;

  text-decoration: none;

}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;

  transition: width .3s;
}


.nav-item:hover::after {
  width: 100%;
  transition: width .3s;
}

.nav-item:active::after {
  width: 100%;
  transition: width .3s;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}

.nav-link {
  padding: 2rem 2rem !important;
}

.active {


  text-decoration: none;
  background-color: lightblue;


}

.active .nav-link {
  color: black !important;
}

/* FOOTER */
.icons:hover {
  color: coral
}

.page_footer {
  background-color: #000 !important;
}


.footer_text p {
  cursor: default;
}

.footer_text a:hover {
  color: coral
}



.footer_text a {
  text-decoration: none;
  color: white;
}

.media {
  padding-top: 10px;
}

.icon-background {
  color: white;
}

.media .icon {
  color: black;
}

/* FOOTER END */





/* .newClass::after {
	content   : '';
	display   : block;
	width     : 0;
	height    : 2px;
	background: white;
	
	transition: width .3s;
} */






/* .newClass .nav-item::after {
	content   : '';
	display   : block;
	width     : 0;
	height    : 2px;
	background: black !important;
	
	transition: width .3s;
}
 */
/* NAVBAR END */

.nav-link {
  padding: 2rem 2rem !important;
}

.nav-item:hover {
  background-color: lightblue;

  border-bottom: 1rem black;
}

.nav-item:hover .nav-link {
  color: black !important;
}


.nav-item {
  display: inline-block;

  text-decoration: none;

}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;

  transition: width .3s;
}

/* .newClass::after {
	content   : '';
	display   : block;
	width     : 0;
	height    : 2px;
	background: white;
	
	transition: width .3s;
} */

.nav-item:hover::after {
  width: 100%;

  transition: width .3s;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}


.black-nav .nav-link {
  color: white !important;
}


.black-nav .nav-item:hover .nav-link {
  color: black !important;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white !important;
}


/* FOOTER */
.icons:hover {
  color: coral
}

.page_footer {
  background-color: #000 !important;
}

.footer_text {
  color: white;
 
}

.footer_text p {
  cursor: default;
}

.footer_text a:hover {
  color: coral
}


.footer_text a {
  text-decoration: none;
  color: white;
}

.media {
  padding-top: 10px;
}

.icon-background {
  color: white;
}

.media .icon {
  color: black;
}

/* FOOTER END */

/* LAPTop */
.footer_text {
  line-height: 1.3rem !important;
  letter-spacing: 3px !important;
}
