body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.navbar {
  background-color: #171717;
  z-index: 1000;
  width: 100%;
  transition: all ease 0.3s;
  right: 0 !important;
  background-color: #171717;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 0px;
  margin-right: 0px;

}

.nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: white !important;
  padding: 1rem 1rem !important;

}

.enb_logo img {
  height: 60px;
  width: 150px;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgb(252, 200, 123);
}

.nav-item:hover .nav-link {
  color: #171717 !important;
}


.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #171717;
  transition: width .3s;
}

.nav-item:hover::after {
  width: 100%;
  transition: width .3s;
}



.hide {
  transform: translateY(-81px);
}

.fa-bars {
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: var(--bs-gutter-x, 0rem) !important;
    padding-left: var(--bs-gutter-x, 0rem) !important;
  }
}

.active {
  text-decoration: none;
  background-color: rgb(252, 200, 123);
}

.active .nav-link {
  color: #171717 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}

/* FOOTER */
#footer {
  background-color: #171717 !important;
}

.icon:hover {
  color: coral
}

.footer_text p,
h5 {
  cursor: default;
  color: rgb(252, 249, 230) !important;
}

.footer_text a:hover {
  color: coral
}



.footer_text a {
  text-decoration: none;
  color: rgb(252, 249, 230);
}

@media only screen and (max-width: 600px) {
  .footer_text {
    line-height: 1rem;
    letter-spacing: 1px !important;
  }

}

.media {
  padding-top: 10px;
}

.icons:hover {
  color: coral
}

.icon {
  color: rgb(252, 249, 230);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.7rem;
}


/* Footer end */

/* FONTS */
.footer_text p,
h5 {
  font-family: 'M PLUS 1 Code', sans-serif;

}

.nav-link {
  font-family: 'M PLUS 1 Code', sans-serif;
}

/* fonts end */