/* LANDING STYLE */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */


#main {
  width: 100%;
  padding: 0;
}


.content-asset p {
  margin: 0 auto;
}



/* Helpers */
/**************************/




/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;

}

#parallax-world-of-ugg h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

#parallax-world-of-ugg h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

#parallax-world-of-ugg p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;

  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #3b8595;
}

.ny {
  color: #3d3c3a;
}

.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;

  text-align: center;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  

  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1633807283085-c6ae888a23f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=411&q=80');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1633797694830-138fc0df9ade?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=435&q=80');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1633876719841-4276b4c24386?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2069&q=80');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media only screen and (max-width: 600px) {

  .landing_heading h1,
  h2 {
    font-size: 20px !important;
  }

  .landing_heading .btn {
    width: 40vw !important;

  }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }


}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }

  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }

  #parallax-world-of-ugg .block {
    padding: 30px;
  }

  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}


.landing_heading .btn {
  width: 15vw;
  background-color: black !important;
  color: white !important;
}

/* LANDING STYLE END--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* CAROUSEL */
.slideshowContainer {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  margin: 50px 0 75px;
  width: 100%;
  height: 500px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

/* CAROUSEL END */

/* Slider */

.mySlides {
  display: none;
}

/* Sections */

#hero1 {
  background: url('https://images.unsplash.com/photo-1633797694830-138fc0df9ade?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=435&q=80');
  background-size: cover;

  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url('https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=812&q=80');
  background-size: cover;

  background-position: center center;
  background-attachment: fixed;
}

#hero3 {
  background: url('https://images.unsplash.com/photo-1633876719841-4276b4c24386?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80');
  background-size: cover;

  background-position: center center;
  background-attachment: fixed;
}

.hero,
.content {
  position: relative;
  width: 100%;
}

.inner {
  margin: 0 auto;
  min-height: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: left;

}


.copy.slide-tekst {
  margin: 0;
  background-image: url(http://sola-elektro.no/wp-content/uploads/2019/02/Reklame-grøn-bg.png);
  background-position: right;
  height: 200px;
  width: 800px;
}

.copyLogo.slide-tekst {
  margin: 0px 0px 0px 200px;
  height: 200px;
  width: 800px;
}

@media only screen and (max-width: 750px) {
  .inner {
    justify-content: center !important;
  }
}


@media only screen and (max-width: 750px) {
  .copy h2 {
    margin: 50px 0px 0px 50px !important
  }
}

@media only screen and (max-width: 750px) {
  .copy a {
    margin: 0px 0px 0px 50px !important;
  }
}

@media only screen and (max-width: 750px) {
  .copyLogo.slide-tekst {
    margin: 0px 0px 0px 50px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copy h2 {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copy a {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 455px) {
  .copyLogo.slide-tekst img {
    width: 240px !important;
  }
}

.copy h2 {
  font-family: 'Arial';
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin: 50px 0px 0px 200px;
  line-height: normal;
}

.copy a {
  margin: 0px 0px 0px 200px;
  font-family: 'Arial';
  font-size: 12px;
  color: white;
  text-underline-position: under;
}

.slide-tekst {
  position: relative;

  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  80% {
    -webkit-transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(0px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.w3-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

/* Badge */
.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.w3-badge {
  cursor: pointer;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  padding: 0;
}

.demo-1 {
  position: absolute;
  top: 96%;
  left: 48%;
  transform: translate(0%, -48%);
  -ms-transform: translate(0%, -48%);
}

.demo-2 {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.demo-3 {
  position: absolute;
  top: 96%;
  left: 52%;
  transform: translate(0%, -52%);
  -ms-transform: translate(0%, -52%);
}

@media only screen and (max-width: 1200px) {
  .demo-1 {
    left: 47%;
    transform: translate(0%, -47%);
    -ms-transform: translate(0%, -47%);
  }

  .demo-3 {
    left: 53%;
    transform: translate(0%, -53%);
    -ms-transform: translate(0%, -53%);
  }
}

@media only screen and (max-width: 900px) {
  .demo-1 {
    left: 46%;
    transform: translate(0%, -46%);
    -ms-transform: translate(0%, -46%);
  }

  .demo-3 {
    left: 54%;
    transform: translate(0%, -54%);
    -ms-transform: translate(0%, -54%);
  }
}

@media only screen and (max-width: 600px) {
  .demo-1 {
    left: 44%;
    transform: translate(0%, -44%);
    -ms-transform: translate(0%, -44%);
  }

  .demo-3 {
    left: 56%;
    transform: translate(0%, -56%);
    -ms-transform: translate(0%, -56%);
  }
}

@media only screen and (max-width: 400px) {
  .demo-1 {
    left: 40%;
    transform: translate(0%, -40%);
    -ms-transform: translate(0%, -40%);
  }

  .demo-3 {
    left: 60%;
    transform: translate(0%, -60%);
    -ms-transform: translate(0%, -60%);
  }
}


.w3-border {
  border: 1px solid #ccc !important
}

.w3-transparent {
  background-color: transparent !important
}

.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

/* Fade in */
.fade-in {

  animation: fadein 0.8s linear;
}



@keyframes fadein {
  0% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}


/* NAVBAR */
.nav-link {
  padding: 2rem 2rem !important;
}

.nav-item:hover {
  background-color: lightblue;

  border-bottom: 1rem black;
}


.nav-item {
  display: inline-block;

  text-decoration: none;

}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;

  transition: width .3s;
}


.nav-item:hover::after {
  width: 100%;

  transition: width .3s;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}

.nav-link {
  padding: 2rem 2rem !important;
}

.nav-item:hover {
  background-color: lightblue;

  border-bottom: 1rem black;
}

.black-nav .nav-item:hover {
  background-color: white;

  border-bottom: 1rem black;
}


.nav-item {
  display: inline-block;

  text-decoration: none;

}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;

  transition: width .3s;
}

/* .newClass::after {
	content   : '';
	display   : block;
	width     : 0;
	height    : 2px;
	background: white;
	
	transition: width .3s;
} */

.nav-item:hover::after {
  width: 100%;

  transition: width .3s;
}

.nav-item:active::after {
  width: 100%;

  transition: width .3s;
}




.black-nav .nav-link {
  color: white !important;
}


.black-nav .nav-item:hover .nav-link {
  color: black !important;
}

.black-nav .nav-link {
  color: white !important;
}


.black-nav .nav-item:hover .nav-link {
  color: black !important;
}

.navbar-toggler {
  color: black;
}

/* .newClass .nav-item::after {
	content   : '';
	display   : block;
	width     : 0;
	height    : 2px;
	background: black !important;
	
	transition: width .3s;
}
 */
/* NAVBAR END */

/* CONTACT US */
.contact_us {
  display: flex;
  justify-content: space-evenly;
 

}

.contact_1 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact_image {
  height: 50%;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1633113093730-47449a1a9c6e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_details {
  height: 50%;
  width: 100%;
  background-color: #C4C4C4;
  ;
}

/* CONTACT US END */

#about_us p{
  line-height: 2 !important;
  word-spacing: 5px;
  font-size: 1.2rem;
}
