.enb_logo img {
	height: 5vw;
	width : 10vw;
}

.navbar .nav-link {
	font-size  : 16px;
	margin-left: 10px;
	color      : #000;

}

.navbar {
	position  : fixed;
	z-index   : 1000;
	width     : 100%;
	transition: all ease 0.3s;



}

.hide {
	transform: translateY(-81px);
}



.fa-bars {
	color    : white;
	font-size: 30px;
}

.navbar-toggler i:hover {
	color: lightcoral;
}

.navbar {
	padding-top   : 0 !important;
	padding-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {
	.navbar-nav a:hover {
		background-color: transparent !important;
	}
}
