.enb_logo img {
	height: 5vw;
	width : 10vw;
}

.navbar .nav-link {
	font-size  : 20px;
	margin-left: 10px;
	color      : white;
}

.navbar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	transition: transform 300ms;
	background-color: black !important;
}

 .hide {
	transform: translateY(-81px);
}

.navbar-nav li a:hover,
.navbar-nav li a.current {
	color: lightcoral
}

.fa-bars {
	color    : white;
	font-size: 30px;
}

.navbar-toggler i:hover {
	color: lightcoral;
}