body {
  background-color: rgb(252, 249, 230) !important;
}

@media only screen and (max-width: 600px) {

  .landing_heading h1,
  h2 {
    font-size: 20px !important;
  }

  .landing_heading .btn {
    width: 40vw !important;

  }
}

.landing_heading .btn {
  margin-left: 100000px !important;
  background-color: black !important;
  color: black !important;
}

.landing_heading {


  color: black !important;
}

/* INPAGE NAVBAR */


.inpage_nav {
  display: flex !important;
  flex-direction: row !important;

  justify-content: center !important;

}

.media {
  padding-bottom: 10px;

}

.inpage_link {
  height: 50px !important;
  width: 200px !important;
  border: 2px solid black !important;
  display: flex !important;
  color: black;
  justify-content: center !important;
}

@media only screen and (max-width: 600px) {
  .inpage_nav {
    display: flex !important;
    flex-direction: row !important;

    justify-content: center !important;

  }

  .inpage_link {
    height: 50px !important;
    width: 100px !important;
    border: 2px solid white !important;
    display: flex !important;
    justify-content: center !important;
  }
}



#box_1 {
  border-right: 0px !important;
}

#box_2 {
  border-right: 0px !important;
}

.inpage_link {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.inpage_link.active_2 {
  background-color: black;
  color: white;
  border: 2px solid black !important;
}

.inpage_link:hover {
  background-color: black;
  color: white;
}

.content {
  margin-top: 30px;
}

div[class*="content-"] {
  display: none;
}

div.active_2 {
  display: block;
}

/* INPAGE NAVBAR END */

/* LINKS */
.content {
  padding: 1vw;
}

.page {
  color: black !important;
}

#content_1 {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  height: 200px;
  gap: 0;
  padding: 10px;
  word-break: break-all;
  justify-content: center !important;
}




.description {
  display: flex;
  word-break: break-all;
  padding: 10px;
  justify-content: center !important;
  overflow: hidden;
  width: 100%;
  height: 20%;

}

.panel {
  background: url('https://images.unsplash.com/photo-1634560606122-1910f9bbb668?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  padding: 10px;
  color: white;
  justify-content: center !important;
  position: relative;
}


.panel .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.overlay a {
  position: absolute;
  color: white;
  left: 45%;
  top: 40%;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;
}

.panel:hover .overlay {
  opacity: 1;
}





/* LINKS END */
/* VIDEOS */
#content_2 {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  height: 400px;
  overflow: hidden;
  gap: 0;

  word-break: break-all;
  justify-content: center !important;


}


.panel_2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  padding: 10px;
  justify-content: center !important;
  position: relative;
}


/* VIDEOS */

/* BOOKS */
#content_3 {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  height: 300px;

  overflow: hidden;

  width: 210px !important;
  word-break: break-all;
  justify-content: center !important;
  flex: 1 0 21%;
  /* explanation below */
  margin: 5px;
  padding: 50px;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.panel_2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  padding: 10px;
  justify-content: center !important;
  position: relative;
}

/* BOOKS */


/* fonts */
.landing_heading{
  font-family: 'M PLUS 1 Code', sans-serif ;
}
.inpage_nav{
  font-family: 'M PLUS 1 Code', sans-serif ;
}

/* fonts */